config ipsec
    list interface 'gsm_6'
    option rtinstall_enabled '0'

config remote 'vpnserver'
    option enabled '1'
    option mobike '0'
    option encap '0'
    option keyexchange 'ikev2'
    option dpddelay '300s'
    option local_ip 'gsm_6'
    option local_id_eap 'ap-abcd'
    option pre_shared_key 'verysecret'
    option remote_identifier 'vpn-site.vpnserver.net'
    option local_auth 'eap'
    option remote_auth 'pubkey'
    list tunnel 'tunnel1'
    option gateway '2abc:1234:24:10::4'
    option ca_cert 'ISRG_Root_X1.crt'
    list crypto_proposal 'ike_proposal'

config crypto_proposal 'ike_proposal'
    option encryption_algorithm 'aes256'
    option hash_algorithm 'sha256'
    option dh_group 'modp2048'

config conn 'tunnel1'
    option startaction 'start'
    option dpdaction 'restart'
    option if_id '101'
    list remote_subnet '::/0'
    list remote_subnet '10.0.0.0/8'
    list remote_subnet '192.168.0.0/16'
    list local_subnet '2ddd:9876:24:b00::/56'
    list local_subnet '192.168.170.0/24'
    list local_subnet '10.168.60.0/24'
    list crypto_proposal 'esp_proposal1'
    option updown '/etc/ipsec_updown.sh'
    option interface 'wwan0'

config crypto_proposal 'esp_proposal1'
    option encryption_algorithm 'aes256'
    option hash_algorithm 'sha256'
