

config interface 'gsm'
	option dhcp '1'
	option dhcpv6 '1

config interface 'lan'
	option device 'br-lan'
	option proto 'static'
	option ipaddr '192.168.42.1'
	option netmask '255.255.255.0'
	option ip6assign '64'
	list ip6class 'local'
	list ip6class 'gsm_6'

config device 'br_lan'
	option name 'br-lan'
	list ports 'eth0'
	option type 'bridge'

config interface 'service'
	option device '@lan'
	option proto 'static'
	option netmask '255.255.255.0'
	option ipaddr '10.168.60.183'

config interface 'deos'
	option device '@lan'
	option proto 'static'
	option ipaddr '192.168.170.1'
	option netmask '255.255.255.0'

config interface 'tunnel1'
	option proto 'xfrm'
	option ifid '101'
	option zone 'vpn'
	option tunlink 'gsm'
	option mtu '1500'

config route
	option target '10.0.0.0/8'
	option interface 'tunnel1'

config route
	option target '192.168.0.0/16'
	option interface 'tunnel1'

config interface 'tunnel1prefix'
	option device '@tunnel1'
	option proto 'static'
	option ip6prefix '2ddd:9876:24:b00::/56'
